<roundcube:include file="includes/layout.html" />

<h1 class="voice"><roundcube:object name="productname" /> <roundcube:label name="login" /></h1>

<div id="layout-content" class="selected no-navbar" role="main">
	<roundcube:object name="logo" src="/images/logo.svg" data-src-small="0" id="logo" alt="Logo" />

	<roundcube:form id="login-form" name="login-form" method="post" class="propform">
	<p><details> <summary><strong>Passwort? Hinweis f&uuml;r Erstnutzer!</strong></summary>
	<p style="padding-left: 30px;">Wenn Sie den Seclous-Mail WebClient zum ersten mal benutzen, k&ouml;nnen Sie Ihr (initiales) Passwort frei w&auml;hlen.</p>
	<p style="padding-left: 30px;">Bitte w&auml;hlen Sie ein sicheres Passwort und merken Sie sich dieses gut, damit Sie auch zuk&uuml;nftig Zugang zu Ihren verschl&uuml;sselten Mails erhalten.</p>
	<p style="padding-left: 30px;"><strong>ACHTUNG:</strong> <br />Das eingegebene Passwort wird weder gespeichert, noch verl&auml;sst es Ihr Ger&auml;t. Es dient nur als zus&auml;tzliche Eingabe, um Ihre gesch&uuml;tzten Mails wieder sichtbar zu machen.</p>
	<p style="padding-left: 30px;"><em><strong>Das Passwort ist also nur Ihnen bekannt und kann durch uns nicht zur&uuml;cksetzt werden, sollten Sie es vergessen haben!<br /></strong></em><br />Daher empfehlen wir die Nutzung eines Passwort-Mangers zur Speicherung des Passwortes, oder die Verwahrung des Passwortes an einem sicheren Ort.</p>
	</details>
	</p>	
	<roundcube:object name="loginform" form="login-form" size="40" submit=true />
		<div id="login-footer" role="contentinfo">
			<roundcube:object name="productname" condition="config:display_product_info &gt; 0" />
			<roundcube:object name="version" condition="config:display_product_info == 2" />
			<roundcube:if condition="config:support_url" />
				&nbsp;&bull;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link"><roundcube:label name="support" /></a>
			<roundcube:endif />
			<roundcube:container name="loginfooter" id="login-footer" />
		</div>
	</form>
</div>

<noscript>
	<p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
</noscript>

<roundcube:include file="includes/footer.html" />
